
# General
.DS_Store
*~
*.log

# Dependencies
node_modules/

# Build output (adjust the folder name as necessary, e.g., 'public/')
dist/
build/

# Environment variables
.env

# Specific to static site generators
.jekyll-metadata
.jekyll-cache
.sass-cache
